<!DOCTYPE html>

<html lang="en-us">
<head>
    <meta charset="UTF-8" /> 
    <title>{% block title %}{% endblock %}</title>

    <link rel="stylesheet" type="text/css" href="http://www.w3schools.com/lib/w3.css">
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'dictionary/css/style.css' %}" />

    <script type="text/javascript">
        {% block javascript %}{% endblock %}
    </script>

    <script type="text/javascript">
        function dropUserOptions() {
            var x = document.getElementById("userNavDrop");
            if (x.className.indexOf("w3-show") == -1) {
                x.className += " w3-show";
            } else {
                x.className = x.className.replace(" w3-show", "");
            }
        }
    </script>
</head>
<body>
    <nav class="w3-top">
        <ul class="w3-navbar w3-green w3-card-2 w3-large">
            <li><a class="w3-teal" href="{% url 'dictionary:index' %}">Dictecnic</a></li>
            <li><a href="{% url 'dictionary:index' %}">Index</a></li>
            <li><a href="{% url 'dictionary:letter' 'en-us' %}">Alphabet</a></li>
            <li><a href="{% url 'dictionary:submitWord' 0 %}">Help us</a></li>
            {% if user.is_anonymous %}
            <li class='w3-right'><a href="{% url 'dictionary:login_page' %}">Login</a></li>
            {% else %}
            <li class="w3-right w3-dropdown-click">
                <a onclick="dropUserOptions()">{{user}}</a>
                <div id="userNavDrop" class="w3-dropdown-content w3-white w3-card-4 w3-animate-zoom dropdown">
                    <a class="w3-padding-16" href="{% url 'dictionary:stagearea' %}">Stage area</a>
                    <a class="w3-padding-16" href="{% url 'dictionary:logout' %}">Logout</a>
                </div>
            </li>
            {% endif %}
        </ul>
    </nav>

    <div class="content">
    {% block content %}{% endblock %}
    </div>

    <footer class="footer">
        <span>&copy; 2016 - Technical Dictionary</span>
    </footer>
</body>
</html>
