<h1>{{ title }}</h1>

<script>
    var words = [ {% for group in words %} {% for word in group %} {"term": "{{ word.term }}", "language": "{{ word.language }}", "definition": "{{ word.definition }}"} {% if forloop.last %}];{% else %}, {% endif %} {% endfor %} {% endfor %}

function update(term, language) {
    var info = document.getElementById("id-div");
    var word;

    for (i = 0; i < words.length; i++) {
        word = words[i];

        if (word.term === term) {
            if (word.language === language) {
                break;
            }
        }
    }

    info.innerHTML = "<h2>" + word.term + "</h2>\n\n<p>" + word.definition + "</p>";
}

</script>

{% if words %}
    {% for group in words %}
        <div>
            <p class="id-div-info">{{ forloop.counter }}</p>
            <ul>
                {% for word in group %}
                    <li><a style="cursor: pointer" onclick='update("{{ word.term }}", "{{ word.language }}")'>{{word.language}}: {{word.term}}</a></li><br />
                {% endfor %}
            </ul>
            <div id="id-div">
                
            </div>
        </div>
    {% endfor %}
{% else %}
    <p>No results.</p>
{% endif %}
