{% extends "dictionary/base.html" %}

{% block title %}{{ title }}{% endblock %}


<script>
{% block javascript %}
    var words_json = 
    [
    {% for meaning in words %}
        [
        {% for word in meaning %}
            {"term": "{{ word.term }}", "language": "{{ word.language }}", "definition": "{{ word.definition }}"}

            {% if not forloop.last %}
            ,
            {% endif %}
        {% endfor %}
        ]

        {% if forloop.last %}
    ]
        {% else %}
        ,
        {% endif %}
{% endfor %}
    ;
function update(term, language, meaning) {
    var info = document.getElementById("id-div-" + meaning);
    var word;

    for (i = 0; i < words_json[parseInt(meaning)-1].length; i++) {
        word = words_json[parseInt(meaning)-1][i];

        if (word.term === term) {
            if (word.language === language) {
                break;
            }
        }
    }

    info.innerHTML = "<h2>" + word.term + "</h2>\n\n<p>" + word.definition + "</p>";
}

{% endblock %}
</script>

{% block content %}
<h1>{{ title }}</h1>

{% if words %}
    {% for group in words %}
        <div>
            <p class="id-div-info">{{ forloop.counter }}</p>
            <ul>
                {% for word in group %}
                    <li>({{word.language}}) <a style="cursor: pointer" onclick='update("{{ word.term }}", "{{ word.language }}", "{{ forloop.counter }}")'>{{word.term}}</a></li>
                {% endfor %}
            </ul>
            <div id="id-div-{{ forloop.counter }}">
                
            </div>
        </div>
    {% endfor %}
{% else %}
    <p>No results.</p>
{% endif %}
{% endblock %}
