<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Dicionário - Busca</title>


</head>
<body>
	<!--Área de pesquisa-->
	<input type="text" id="search-text" placeholder="Digite uma palavra">
	<button onclick="redirect()">Buscar</button>
	
	<!--Linguagens e alfabetos-->
	<select id="languageSelector" onchange="changeAlphabet()">
		{% for lang in languages.all %}
			<option>{{lang.language}}</option>
		{% endfor%}
	</select>

	<div id="divAlphabet">
		{%for letter in languages.first.alphabet %}
			<a href="letter/{{ languages.first.language }}/{{ letter }}">{{ letter }}</a>
		{% endfor %}
	</div>
</body>
</html>