{% extends "dictionary/base.html" %}

<!DOCTYPE html>
<html>
    <head>
        {% block title %}Dicionário - Busca{% endblock %}

        <script type="text/javascript">
        {% block javascript %}
                    var l = [	{% for lang in languages.all %}{"language":"{{ lang.language }}", "alphabet":"{{ lang.alphabet }}"} {% if forloop.last %} ]; {% else %} , {% endif %}
                                        {% endfor %}

        function redirect() {
            var current_url = window.location.href;
            current_url += "word/" + document.getElementById("search-text").value;
            window.location.href = current_url;
        }

        function changeAlphabet() {
            var langSelect = document.getElementById("languageSelector").value;
            for (var i = 0; i < l.length; i++) {
                if (l[i].language == langSelect) {
                    displayNewAlphabet(l[i].alphabet, langSelect);
                    return;
                }
            }
        }

        function displayNewAlphabet (alphabet, lang) {
            var newDivAlphabet = "";

            for (var i = 0; i < alphabet.length; i++) {
                newDivAlphabet += "<a href=\"letter\/" + lang + "#" + alphabet[i] + "\">" + alphabet[i] + "<\/a> ";
            }

            document.getElementById("divAlphabet").innerHTML = newDivAlphabet;
        }

        window.onload = changeAlphabet;
        {% endblock %}
        </script>
    </head>
    <body >
        {% block content %}
            <!--Área de pesquisa-->
            <input type="text" id="search-text" placeholder="Digite uma palavra">
            <button onclick="redirect()">Buscar</button>
            
            <!--Linguagens e alfabetos-->
            <select id="languageSelector" onchange="changeAlphabet()">
                    {% for lang in languages.all %}
                            <option>{{lang.language}}</option>
                    {% endfor%}
            </select>

            <div id="divAlphabet">
            </div>
        {% endblock %}
    </body>
</html>

